// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ui {
  z-index: 100;
  position: fixed;
  top: 16px;
  left: 16px;
  padding: 16px;
  background: #f1f1f1;
  border-radius: 1px;

  &__title {
    color: #505050;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__params {
    max-height: 50vh;
    overflow-y: scroll;
    margin-bottom: 16px;
    background: #dadada;
    padding: 8px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    min-width: 175px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: block;
      color: #757575;
      font-size: 14px;
      font-weight: 700;
      margin-right: 16px;
      white-space: nowrap;
      line-height: 24px;
    }

    input[type="number"] {
      width: 64px;
    }
  }
}

.info {
  margin-bottom: 16px;

  h4 {
    font: 600 1.1rem "Arial";
    margin-bottom: 16px;
  }

  li {
    line-height: 24px;
    b {
      font-weight: 600;
    }
  }
}

#uiToggleBtn {
  background: rgb(227, 37, 122);
  color: #fff;
  outlint: none;
  border: none;
  border-radius: 6px;
  width: auto;
  height: 32px;
  padding: 0 8px;
  font: 600 1rem Arial;
  cursor: pointer;

  &:hover {
    background: rgb(214, 23, 96);
  }
}
